.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

h1 {
    font-size: 8em;
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}