.calculator-row {
    display: flex;
    grid-auto-flow: column;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

pre {
    margin: 0;
}

.calculator-input{
    display: flex;
    height: 1.4em;
    font-size: 2em;
    padding: 10px;
}


.calculator{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.calculator-column {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}
    .headline{
        font-family: Arial;
        font-size: 30px
    }
    .calculator-grid-pc{
        display: flex;
        flex-direction: row;
        gap: 70px;
    }
    .calculator-grid-pad {
        display: none;
    }
    .calculator-grid {
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column: 9;
        width: 100%;
    }
    .calculator-button {
        font-size: 2em;
    }
    .calculator-body {
        display: flex;
        flex-direction: column;
        padding-inline: 2%;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

.headline{
    text-align: center;
}

.different {
    background-color: #f64ef3 !important;
    color: white;
}

.accent {
    background-color: #fc7c44 !important;
    color: white;
}

.operator {
    background-color: #026fec !important;
    color: white;
}

.calculator-button {
    background-color: #2196F3;
    color: white;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.calculator-button:hover {
    background-color: #0d8bf2;
}
