.pages-navigator {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.page-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.calculator-area {
    display: flex;
    height: 40vh;
    font-size: 2em;
    padding: 10px;
    width: 97.5%;
    resize: vertical;
}

.page {
    position: fixed;
    width: 100%
}

.compile-button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    padding-inline: 2%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.complex-calculator-body {
    display: flex;
    flex-direction: column;
    padding-inline: 2%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.instructions-body{
    display: flex;
    flex-direction: column;
    padding-inline: 2%;
    justify-content: left;
    align-items: start;
    width: 100%;
}

.spinner-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

#spinner {
    display: none; /* Initially hidden */
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    display: flex;
    margin: 0;
}

pre {
    margin: 0;
}
